<!DOCTYPE html>
<html lang="en-us">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
   <!-- jQuery library -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <!-- Popper JS -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
   <!-- Latest compiled JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
   <!-- Local style sheet -->
   <link rel="stylesheet" href="./css/iShoeSuccess.css">
   <title>{{this.title}}</title>
</head>

<body>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center error_header"><strong>Thank You!</strong></h1>
        
        <div class = "hbdiv">
          <h2>The Employees of iShoe Say:</h2> 
            {{{ body }}}
        </div>      
      </div>        
    </div>

  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center error_header"><strong>
        <a href="index.html" class="text-center"><h1><strong>I-Shoe</a></strong></h1>
    </div>
  </div>
</div>
        
</body>
</html>
